# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

## Allow .obj files in asset directories
!**/assets/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
.vs/
out/
build/
assets/images/